<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire CRUD des Pokemons</title>
  </head>
  <body>
    <nav>
      <a href="/">Liste des Pokemons</a>
    </nav>
    <h1>Ajouter/Modifier un Pokemon</h1>
    <form action="/pokemons" method="POST">
      <label for="name">Nom du pokemon:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="type">Type du pokemon:</label><br />
      <input type="text" id="type" name="type" /><br />
      <button type="submit">Ajouter Pokemon</button>
    </form>
  </body>
</html>
