<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Pokémon</title>
   
</head>
<body>
    <h1>Formulaire Pokémon</h1>

    <form id="add-item-form">
        <label for="name">Nom du Pokémon :</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="type">Type du Pokémon :</label><br>
        <input type="text" id="type" name="type" required><br>
        <button type="submit">Ajouter</button>
    </form>

    <script src="formPokemon.html"></script>
</body>
</html>
